

    <!--===============================================================================================-->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/js/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="/js/main.js"></script>

</body>

</html>




