.c1{
    width:30%;
    margin-top:25px;padding:20px;padding-left:50px;width:90%;margin-left:5%;

}
.c2{
    width:70%
}
.f{
    /* display:flex; */
    /* background-color:white; */
    margin-top:25px;padding:20px;padding-left:50px;width:90%;margin-left:5%;
}
