body {
  font-family: 'Source Sans Pro', sans-serif;
  background: #f8f8f8;
  color: #1c1c1c;
}
.container {
  width: 75%;
  margin: 0 auto;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  margin-top: -30px;
}
.blog-content {
  padding: 25px;
  padding-top: 0px;
}
.blog-item {
    background-color: #FFF;
    flex: 0 0 50%;
    border-bottom: 5px solid #e7e7e7;
    box-shadow: 0px 10px 15px 5px #0000000f;
    border-radius: 25px;
    margin-top: 30px;
    cursor: pointer;
}
.blog-title {
  margin-bottom: 5px;
}
.blog-date {
  font-size: 1em;
  color: #898989;
}
.blog-image > img {
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.btn {
    margin: 0 auto;
    display: inline-block;
    /* width: 100%; */

    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    border-radius: 50px;
    border: none;
}

.btn-dark {
    color: #fff;
    background-color: #000000;
    border-color: #343a40;
}
.btn-red {
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    color: #FFF;
}
@media only screen and ( max-width:950px ){
  .blog-item {
    /* flex-basis: 100%; */
    flex: 0 0 88%;
  }
  .container{
    width:100%;
  }
  .btn{
    display: block;
    width: 100%;
    margin-bottom: 10px;
   }
}