
  
  #potter-animation {
    width: 100%;
    height: 100%;
        position: absolute;
      bottom: 50px;
  }
  
  .spell-text {
    position:relative;
    z-index:1000;
  }
  .spell-tags {
    color: #fff;
    list-style-type: none;
    text-align: center;
  }

  